/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/

// Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
// keep, simply redefine here. This means that if inuit.css, for example, sets
// your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
// that variable in this file. inuit.css ignores its own variables in favour of
// using your own, so you can completely modify how inuit.css works without ever
// having to alter the framework itself.
 





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        true;
$use-arrows:        true;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;
$use-responsive:	true;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$base-font-family:  'proxima-nova', sans-serif;
$base-font-size: 18px;





/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
* Ground Control to Major Tom - scratch that - Ground Control to Howard
* The variables below are global. Global. Global. Global.
*/
$black: #000000;
$black-translucent: rgba(0,0,0,0.8);
$blue: #3c4657;
$bluegray: #3D5F99;
$bluelight: #B0CDFF;
$cream: rgb(238,232,213);
$cyan: #00E5FF;
$gray: #999999;
$grayblue: #586780;
$green-dark: #1B7F18;
$green-bright: #76FF72;
$orange: #FF7400;
$red: #CC2D14;
$white: #eee;
$white-bright: #fff;

/*------------------------------------*\
    $SIZING
\*------------------------------------*/

$tall-regular: 1.618em;
$tall: 2em;
$taller: $tall*1.5;
$tallest: $tall*2; 

/*------------------------------------*\
    $BORDERS
\*------------------------------------*/
$style: solid;
$size: 1px;
$tp: top;
$bm: bottom;
$lt: left;
$rt: right;
$radius: 8px;
$width: 70em;