/*------------------------------------*\
    $CONTAINERS
\*------------------------------------*/
/**
* This provides for creation of containers, wells, etc.
*/
.contain-menu {
  width: 300px;
  height: auto;
  position: relative;
  background-color: #eeeeee;
  list-style: none; }
  .contain-menu li {
    list-style: none; }
