/*------------------------------------*\
    $CONTAINERS
\*------------------------------------*/

/**
* This provides for creation of containers, wells, borders, etc.
*/

// @import "_main-colors";

$style: solid;
$size: 1px;
$tp: top;
$bm: bottom;
$radius: 8px;
$width: 70em;
// $color: #000;

@mixin boxx {
	height: auto;
	// width: 25%;
	padding: 1em;
}

@mixin contain {
	height: auto;
	width: auto;
	margin: 1em;
	padding: 2em;
	position: relative; 
	list-style: none;
}

@mixin rounded($vert, $horz, $radius, $color) {
	border: {
		// style: solid;
		width: $size;
		color: $color;
		radius: $radius;
		#{$vert}#{$horz}: $radius;
	-moz-border-radius-#{$vert}#{$horz}: $radius;
	-webkit-border-#{$vert}-#{$horz}-#{$bm}-radius: $radius;
	}
}

// @mixin rounded-orange($vert, $horz, $radius) {
// 	border: {
// 		style: $style none none inset;
// 		width: $size *8;
// 		// color: $grayblue;
// 		color: $orange;
// 		radius: $radius;
// 		#{$vert}#{$horz}: $radius;
// 	}
//   -moz-border-radius-#{$vert}#{$horz}: $radius;
//   -webkit-border-#{$vert}-#{$horz}-#{$bm}-radius: $radius;
// }

// @mixin rounded-red($vert, $horz, $radius, $color) {
// 	border: {
// 		style: $style;
// 		width: $size;
// 		color: $red;
// 		radius: $radius;
// 		#{$vert}#{$horz}: $radius;
// 	}
//   -moz-border-radius-#{$vert}#{$horz}: $radius;
//   -webkit-border-#{$vert}-#{$horz}-#{$bm}-radius: $radius;
// }

.boxx {
	@include boxx;
}

.boxx-round {
	@include boxx;
	@include rounded(top, left, $radius, $grayblue);
}

.boxx-round-orange {
	@include boxx;
	@include rounded(top, left, $radius, $orange);
	// @include rounded-orange(top, left, $radius);
	// width: 25%;
}

.code {
	@include rounded(bottom, left, $radius/2, $red);
	border: {
		style: $style;
		width: 2px;
	}
}

.contain {
	@include contain;
}

.contain-arrow {
	// @extend .contain;
	@include rounded(top, left, $radius, $cyan);
	border: {
		style: $style;
		width: 2px;
	}
	@include arrow(right, center, $cyan);
	background-color: $white;
}

.contain-dark {
	@extend .boxx;
	width: auto;
	background-color: $black-translucent;
}

.contain-hide {
	@extend .contain;
	display: none;
}

.contain-menu {
	@extend .contain;
	width: 300px;
	background-color: $white;
		li {
			list-style: none;
		}
	}

.contain-well {
	@extend .contain;
	background-color: $white-bright;
	@include rounded(top, left, $radius, $grayblue);
}

.contain-well-orange {
	@extend .contain;
	background-color: $white-bright;	
	@include rounded(top, left, $radius, $orange);
	border: {
		style: $style none none inset;
		width: 8px;
	}
}

.contain-well-quarter-orange {
	@extend .contain-well-orange;
	width: 25%;
}


.rounds {
	border: {
		style: $style;
		width: $size * 3;
		color: $green-bright;
		radius: $radius;
	}
}

.rounds-#{$tp} {
	border: {
		style: $style none none none;
		width: $size * 5;
		color: $orange;
		#{$tp}-radius: $radius;
	}
}

.rounds-#{$bm} {
	border: {
		style: none none $style;
		width: $size *5;
		color: $grayblue;
		#{$bm}-radius: $radius;
	}
	/* attach this to any class */

// @include arrow(bottom, center, $orange, $bluegray)
}

.sidebar {
	max-width: 20em;
}

:focus {
  outline: none;
}