/*------------------------------------*\
    $CONTAINERS
\*------------------------------------*/

/**
* This provides for creation of containers, wells, borders, etc.
*/

@import "_main-colors";

$style: solid;
$size: 1px;
$tp: top;
$bm: bottom;
$radius: 8px;
$width: 70em;

@mixin boxx {
	height: auto;
}

@mixin contain {
	height: auto;
	width: auto;
	margin: 1em;
	padding: 2em;
	position: relative; 
	list-style: none;
}

@mixin rounded($vert, $horz, $radius) {
	border: {
		// style: $style none none inset;
		style: none;
		width: $size *8;
		// color: $grayblue;
		radius: $radius;
		#{$vert}#{$horz}: $radius;
	}
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-#{$bm}-radius: $radius;
}

@mixin rounded-orange($vert, $horz, $radius) {
	border: {
		style: $style none none inset;
		width: $size *8;
		// color: $grayblue;
		color: $orange;
		radius: $radius;
		#{$vert}#{$horz}: $radius;
	}
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-#{$bm}-radius: $radius;
}

.article {
	max-width: $width - 20em;
	margin: 0 auto;
}

.boxx {
	@include boxx;
}

.boxx-round {
	@include boxx;
	@include rounded(top, left, $radius);
}

.boxx-round-orange {
	@include boxx;
	@include rounded-orange(top, left, $radius);
}

.contain {
	@include contain;
}

.contain-hide {
	@include contain;
	display: hidden;
}

.contain-menu {
	@include contain;
	width: 300px;
	background-color: $white;
		li {
			list-style: none;
		}
	}

.contain-well {
	@include contain;
	@include rounded(top, left, $radius);
	background-color: $white-bright;
}

.contain-well-orange {
	@include contain;
	@include rounded-orange(top, left, $radius);
	background-color: $white-bright;
}

.contain-dark {
	@include contain;
	background-color: $black-translucent;
}

.rounds {
	border: {
		style: $style;
		width: $size * 3;
		color: $green-bright;
		radius: $radius;
	}
}

.rounds-#{$tp} {
	border: {
		style: $style;
		width: $size * 5;
		color: $orange;
	}
	border-#{$tp}-radius: $radius;
}

.rounds-#{$bm} {
	border: {
		style: $style;
		width: $size *3;
		#{$bm}-radius: $radius;
	}
}

