/*------------------------------------*\
    $COLORS
\*------------------------------------*/
body {
  background-color: #eeeeee; }

.blue {
  background-color: #3c4657; }

.blue-dark {
  background-color: #272e39; }

.cyan {
  color: #00e5ff; }

.gray {
  color: #999999; }

.orange {
  color: #ff7400; }

.red {
  color: #cc2d14; }
