/*------------------------------------*\
    $METAINFO
\*------------------------------------*/

/**
* Set options exclusive to meta info, such as tags and authors
*/

@import "_spacing";

.author, .date {
	// font-weight: $bold;
}

.tags {
	padding-bottom: $tall;
	font-weight: $bold;
	// a {
	// 	font-weight: $bold;
	// }
	> a {
		// font-weight: $bold;
		padding: 0.2em;
		color: $white-bright;
		background-color: $orange;
		&:visited {
			color: $white-bright;		
		}
		&:hover {
			background-color: $cyan;
		}
	}
}