/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/

/**
* This provides for tweaking aspects of .nav <header> and <footer>
*/

$cream: rgb(238,232,213);
$white: #eee;
$gray: #999999;
$blue: #3c4657; 

@mixin rounded($vert, $horz, $radius) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

header {
	margin: 0 auto;
	padding: 0 10px 0 10px;
	text: {
  		shadow: none;
	  	decoration: none;
	}
	// &:hover {
	// 	-webkit-transform: translateZ( 0px ) rotateX(  -10deg );
	// 	 -moz-transform: translateZ( 0px ) rotateX(  -10deg );
	// 	   -o-transform: translateZ( 0px ) rotateX(  -10deg );
	// 	      transform: translateZ( 0px ) rotateX(  -10deg );
	// }
}


.nav {
	background-color: $blue;
	display: inline;
	li {
		list-style: none;
		&:first-child {
			@include rounded(top, left, 8px);
		}
		&:last-child {
			@include rounded(top, left, 5px);
		}
	a {
	  color: #999999;
	  padding: 0.5em;
	  &:hover {
	  color: $cream;
	  background-color: transparent;
	}
		text: {
	  		shadow: none;
		  	decoration: none;
		}
	}
	}
}

footer {
	background-color: $blue;
	h4, a {
		color: $gray;
	}
	a {
		padding: 1.168em 2.0em;
		&:hover {
			color: $cream;
			background-color: transparent;
		}
		text: {
	  		shadow: none;
		  	decoration: none;
		}
	}
} 

// co-opted from responsive nav

// .nav-collapse {
// 	a {
// 		text: {
// 			shadow: none;
// 			decoration: none;
// 		}
// 	}
// 	ul, li {
// 		width: auto;
// 		display: inline;
// 		padding: 0;
// 	}
// 	ul {
// 		margin: 0;
// 		list-style: none;
// 	}
// }

/* CSS For Dropdown Menu Start */
// ul {
// 	list-style:none;
// 	padding:0px;
// 	margin:0px;
// 	li {
// 		display:inline;
// 		float:left;
// 	}
// 	a {
// 		color:#ffffff;
// 		background:#990E00;
// 		margin-right:5px;
// 		font-weight:bold;
// 		font-size:12px;
// 		// font-family:verdana;
// 		text-decoration:none;
// 		display:block;
// 		width:100px;
// 		height:25px;
// 		line-height:25px;
// 		text-align:center;
// 		-webkit-border-radius:5px;
// 		-moz-border-radius:5px;
// 		border: 1px solid #560E00;
// 		&:hover {
// 			color:#cccccc;
// 			background:#560E00;
// 			font-weight:bold;
// 			text-decoration:none;
// 			display:block;
// 			width:100px;
// 			text-align:center;
// 			-webkit-border-radius:5px;
// 			-moz-border-radius:5px;
// 			border: 1px solid #000000;
// 		}
// 	}
// 	.sublinks {
// 		display:none;
// 		a {
// 			color:#000000;
// 			background:#f6f6f6;
// 			border-bottom:1px solid #cccccc;
// 			font-weight:normal;
// 			text-decoration:none;
// 			display:block;
// 			width:100px;
// 			text-align:center;
// 			margin-top:2px;
// 			&:hover {
// 				color:#000000;
// 				background:#FFEFC6;
// 				font-weight:normal;
// 				text-decoration:none;
// 				display:block;
// 				width:100px;
// 				text-align:center;
// 			}
// 		}
// 	}
// }

/* CSS For Dropdown Menu End */

// #menu {
// 	margin:0px auto;
// 	width:570px;
// }

// .clear {
// 	clear:both;
// }

// .left {
// 	float:left;
// }

// .right {
// 	float:right;
// }