/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/

/**
* This provides for tweaking aspects of .nav <header> and <footer>
*/

$cream: rgb(238,232,213);
$white: #eee;
$gray: #999999;
$blue: #3c4657; 

@mixin rounded($vert, $horz, $radius) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

header {
	margin: 0 auto;
	padding: 0 10px 0 10px;
	text: {
  		shadow: none;
	  	decoration: none;
	}
}

.nav {
	background-color: $blue;
	display: inline;
	li {
		list-style: none;
		&:first-child {
			@include rounded(top, left, 8px);
		}
		&:last-child {
			@include rounded(top, left, 5px);
		}
	a {
	  color: #999999;
	  padding: 0.5em;
	  &:hover {
	  color: $cream;
	  background-color: transparent;
	}
		text: {
	  		shadow: none;
		  	decoration: none;
		}
	}
	}
}

footer {
	background-color: $blue;
	h4, a {
		color: $gray;
	}
	a {
		padding: 1.168em 2.0em;
		&:hover {
			color: $cream;
			background-color: transparent;
		}
		text: {
	  		shadow: none;
		  	decoration: none;
		}
	}
} 

// co-opted from responsive nav

.nav-collapse {
	a {
		text: {
			shadow: none;
			decoration: none;
		}
	}
	ul, li {
		width: auto;
		display: inline;
		padding: 0;
	}
	ul {
		margin: 0;
		list-style: none;
	}
}