/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

/**
* This provides for m'typography
*/

$font-body: $base-font-family;
$font-heading: $base-font-family;
$light: 300;
$regular: 400;
$bold: 600;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-weight: $bold;
	text: {
		shadow: none;
		decoration: none;
	}
}

a, div, li, p, ul {
	font-family: $font-body;
	font-weight: $light;
}

div {
	a {
		word-wrap: break-word;
		&:visited {
			// color: transparent;
		}
	}
}

.center {
	text-align: center;
}

.light {
	font-weight: $light;
}

.regular {
	font-weight: $regular;
}

.bold {
	font-weight: $bold;
}

.page-title {
	color: $red;
}

@media screen and (max-width: 480px) {
      h1 {
        font-size: $kilo-size;
      }
    }