/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

/**
* This provides for m'typography
*/

$font-body: 'Roboto', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;
$grayblue: #586780;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

a, div, li, p, ul {
	font-family: $font-body;
	font-weight: 300;
}

.center {
	text-align: center;
}

a:visited {
	color: $grayblue;
}

div {
	a {
		word-wrap: break-word;
	}
}