<!-- closing div from bottom of sidebar -->
</div>
<footer class="blue tall text--center">
    <div class="grid__item one-third palm-one-whole hard--sides">
      <h4 class="white">Contact</h4>
      <p><a href="http://twitter.com/NeuropsychNow" target="_blank">twitter</a></span>
      <p><a href="mailto:admin@neuropsychnow.com">email</a></span>
      <p><a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863" target="_blank">facebook</a></span>
    </div><!--
  --><div class="grid__item one-third palm-one-whole hard--sides">
      <h4 class="white">Get</h4>
      <p><a href="/tools.html">Tools</a></p>
      <p><a href="/neuroapps.html">Neuro Apps</a></p>
    </div><!-- 
  --><div class="grid__item one-third palm-one-whole hard--sides">
      <h4 class="white">About</h4>
      <p><a href="aboutsite.html" title="About this Web site">This Site</a></p>
      <p><a href="aboutus.html" title="About us">Us</a></p>
    </div>
  <!-- bottom row -->
    <div class="grid__item one-half palm-one-whole">
      <a href="/"><img src="/img/logo_inverse_mini.png" style="width: 50%;">
      </a>
    </div><!-- 
 --><div class="grid__item one-half palm-one-whole gray">
      <p>&copy; 2013 Neuropsych Now</p>
      <span><a href="privacy.html">Privacy</a></span> | <span><a href="terms.html">Terms</a></span>
    </div> 
</footer>

<!-- Some JavaScript, jQuery --> 
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/js/vendor/jquery.flexnav.min.js" type="text/javascript"></script>
  <script type="text/javascript" language="Javascript" src="https://s3-us-west-2.amazonaws.com/nncssjs/js/bigfoot.min.js"></script>
    <script>
      $(".flexnav").flexNav();
    </script>
    <script type="text/javascript">
        $.bigfoot();
    </script>
    <script>
      $(function() {
        $( "#tabs" ).tabs({
          collapsible: true
      }).addClass( "ui-tabs-collapsible" );
    });
  </script>
