</div> <!-- closing div from bottom of sidebar -->
<footer class="blue tall">
    <div class="grid__item one-third palm-one-whole">
      <h4 class="center">Contact</h4>
      <span><a href="http://twitter.com/NeuropsychNow" target="_blank">twitter</a> <a href="mailto:admin@neuropsychnow.com">email</a> <a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863" target="_blank">facebook</a></span>
    </div><!--
  --><div class="grid__item one-third palm-one-whole">
      <h4 class="center">Get</h4>
      <p><a href="#">Tools</a></p>
      <p><a href="/neuroapps.html">Neuro iOS Apps</a></p>
    </div><!-- 
  --><div class="grid__item one-third palm-one-whole">
  <!-- bottom row -->
      <h4 class="center">About</h4>
    </div>
    <div class="grid__item one-half palm-one-whole">
      <a href="/"><img src="/img/logo_inverse_mini.png" style="width: 50%;">
      </a>
    </div><!-- 
 --><div class="grid__item one-half palm-one-whole gray">
      <p>&copy; 2013 Neuropsych Now</p>
      <span><a href="privacy.html">Privacy</a></span> | <span><a href="terms.html">Terms</a></span>
    </div> 
</footer>

<!-- Some JavaScript, jQuery --> 
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
