<!--#if expr="$DOCUMENT_NAME = index.html" -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr="$DOCUMENT_NAME = archives.html" -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#endif -->

</div> <!-- end class article -->
<footer class="blue tall">
  <div class="grid grid--full grid--center" >
    <div class="grid__item one-third palm-one-whole">
      <h4 class="center">Contact</h4>
    </div><!-- 

 --><div class="grid__item one-third palm-one-whole">
      <h4>Get</h4>
      <ul id="menu-get">
          <li><a href="#">Tools</a></li>
            <ul class="contain-menu" style="display:none;">
              <li><a href="/tools.html">Resources Guide</a></li>
              <li><a href="/neuroapps.html">Neuro iOS Apps</a></li>
            </ul>      
        </ul>
    </div><!-- 

   --><div class="grid__item one-third palm-one-whole">
      <h4>About</h4>
    </div>

    <div class="grid__item one-half palm-one-whole">
      <a href="/"><img src="/img/logo_inverse_mini.png" style="width: 50%;">
      </a>
    </div><!-- 

 --><div class="grid__item one-half palm-one-whole">
      <p>&copy; 2013 Neuropsych Now</p>
    </div> 
  </div> 
</footer> 

<!-- JavaScript & JQuery -->

	<!-- call jQuery & jQuery UI if you want them -->
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>

<!-- toggle content sliding -->
  <script>
  $('#cm').click(function(){
    $(this).menu();
  })(jQuery);
  </script>

