<header class="grid__item palm-one-whole blue">
    <div class="brand"><a href="/index.html">
        <img src="/img/logotextmini.png" alt="Neuropsych Now Logo"></a>
    </div>
    <ul class="nav nav--banner">
        <li><a href="/articles.html">Articles</a></li>
        <li><a href="#">Tools</a>
            <a href="/neuroapps.html">Neuro Mobile Apps</a>
            <a href="/downloads.html">Assessment Resources</a>
            <a href="/extlinks.html">External Links</a>
        </li>
        <li><a href="#">About</a>
            <a href="/aboutus.html">Neuropsych Now</a>
            <a href="/aboutsite.html">This Site</a>
        </li>
        <li><a href="#">Contact</a>
            <a href="http://twitter.com/NeuropsychNow" target="_blank">twitter</a>
            <a href="#">email</a>
            <a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863" target="_blank">facebook</a>
        </li>
        <li><a href="/donate.html">Contribute</a></li>
        <li><a href="/sphider/search.php">Search</a></li>
    </ul>
</header>
<!-- sets up body; closing tag is in footer.html. Use top grid for sidebar, bottom for no sidebar -->
<!-- <div class="grid__item lap-and-up-two-thirds palm-one-whole"> -->
<!-- <div class="grid__item one-whole"> -->