<header class="grid__item palm-one-whole blue">
  <ul id="cm" class="nav tall nav--banner">
    <li><a class="" href="/index.html"><img src="/img/logotextmini.png" alt="Neuropsych Now Logo"></a></li>
    <!-- <div class="grid"> -->
    <li><a href="/articles.html">Articles</a></li>
    <li><a href="#">Tools</a>
    <!-- <div class="grid__item one-fourth palm-one-whole contain-hide"> -->
    	<ul class="contain-hide">
    	  <li><a href="/neuroapps.html">Neuro iOS Apps</a></li>
    	  <li><a href="/downloads.html">Assessment Resources</a></li>
    	  <li><a href="/extlinks.html">External Links</a></li>
    	</ul>
    <!-- </div> -->
    </li>
    <li id="menu-about"><a href="#">About</a>
    <!-- <div class="grid__item one-fourth palm-one-whole contain-hide"> -->
    	<ul class="contain-hide">
  	    <li><a href="/aboutus.html">Neuropsych Now</a></li>
  	    <li><a href="/aboutsite.html">This Site</a></li>
    	</ul>
    <!-- </div> -->
    </li>
    <li id="menu-contact"><a href="#">Contact</a>
    <!-- <div class="grid__item one-fourth palm-one-whole contain-hide"> -->
      <ul class="contain-hide">
        <li><a href="http://twitter.com/NeuropsychNow" target="_blank">twitter</a></li>
        <li><a href="#">email</a></li>
        <li><a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863" target="_blank">facebook</a></li>
      </ul>
    <!-- </div> -->
    </li>
    <li><a href="/donate.html">Donate</a></li>
    <li>
    <form action="/search/">
      <div class="pull--right">
        <input type="text" name="query" size="25" />
        <input type="submit" value="Search" />
      </div>
    </form>
    </li>
  </ul>
<!--<div id="nav-searchbutton">
  <span class="pull-right"><a class="btn btn-info" href="/nsearch.php"><i class="icon-search" style="color:white"></i> Advanced Search</a></span >
  </div> -->
</header>