<header class="grid__item palm-one-whole blue">
    <div class="menu-button">Menu</div>

    <div class="brand"><a href="/">
        <img src="/img/logotextmini.png" alt="Neuropsych Now Logo" id="logo"></a>
    </div>
    
    <nav>
        <ul class="flexnav">
            <li><a href="/articles.html">Articles</a></li>
            <li><a href="/tools.html">Tools</a>
                <ul>
                    <li><a href="extLinks.html">External Links</a></li>
                    <li><a href="downloads.html">Downloads</a></li>
                    <li><a href="neuroapps.html">Neuro Apps</a></li>
                </ul>
            </li>                
            <li><a href="#">About</a>
                <ul>
                    <li><a href="aboutus.html">Us</a></li>
                    <li><a href="aboutsite.html">Site</a></li>
                </ul>
            </li>
            <li><a href="/contribute.html">Contribute</a></li>
            <li>
            <form action="/search/">
                <div>
                    <input type="text" name="query" size="15" />
                    <input type="submit" value="Search" />
                </div>
            </form>
            </li>
        </ul>
        </nav>
</header>
<div class="grid__item palm-one-whole portable-one-whole soft--sides white-bright-bg">