<!--
--></div>
<!-- this first div closes the opening div from header -->
<div class="grid__item lap-and-up-two-eighths palm-one-whole sidebar contain-well-orange">
<h3 class="orange">Articles Directory</h3>
	<ul>
		<li><a href="/articles.html" title="Articles">Most Recent Articles</a></li>
		<li><a href="/archives/" title="Archives">Archives</a></li>
		<li><a href="/tags/" title="Tag Map">Tag Map</a></li>
		<!-- <li><a href="/colophon/" title="Colophon">Colophon</a></li> -->
	</ul>

<!--#if expr="$DOCUMENT_NAME = index.html" -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr="$DOCUMENT_NAME = archives.html" -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#endif -->

